.login-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 200px;
    left: 1100px;
    display: flex;
    
}
.res-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 220px;
    left: 1310px;
    display: flex;
    
}

.camera-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 228px;
    left: 810px;
    display: flex;
    justify-content: center;
}
.movie-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 228px;
    left: 620px;
    display: flex;
    justify-content: center;
}
.popcon-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 228px;
    left: 440px;
    display: flex;
    justify-content: center;
}
.film-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 230px;
    left: 260px;
    display: flex;
    justify-content: center;
}
.film2-img {
    max-width: 100px;
    max-height: 50px;
    position: absolute;
    top: 220px;
    left: 80px;
    display: flex;
    justify-content: center;
}