.icons-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    flex-direction: column;
    position: absolute;
    top: 500px;
    left: 1048px;
  }
  .button{
      cursor:pointer;
      transition: transform 300ms ease;
      font-size: 100px;
  }
  .red{
    color:red;
  }
  h3{
    height: 30px;
    width: 100px;
  }
  .button:hover{
      transform: scale(1.1);
  }