.trending-container {
    width: 85%;
    height: 400px;
    display: flex;
    flex-direction: grid;
    position: absolute;
    top:460px;
    justify-content: space-between;

  }
  .search-text{
    width:10%;
    height: 30px;
    display: flex;
    position:absolute;
    justify-content: center;
    top: 340px;
  }
  .search-input {
    width:500px;
    height: 20px;
    padding: 0px 30px ;
  }
  .search-info {
    position: absolute;
    top: 380px;
    color: black;
    display: flex;
    flex-direction: column;
    
  }